<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

<!--SEO-->
{% block title %}ilink | Tu información de contacto siempre {% endblock title %}
{% block description %}Tarjeta de presentación digital personalizada para ti, tus colaboradores  y tu negocio{% endblock description %}
{% block titleop %}ilink | Tu información de contacto siempre {% endblock titleop %}
{% block description_op %}arjeta de presentación digital personalizada para ti, tus colaboradores  y tu negocio{% endblock description_op %}
{% block image_op %}{% static 'img/favicon.png' %}{% endblock image_op %}
{% block favicon %}{% static 'img/favicon.png' %}{% endblock favicon%}
{% block append_head %}
{% endblock append_head %}

<!--Body-->
{% block main_body_data %}

<p>Hola Mundo</p>









<!----------------END CARD---------------------->

{% endblock %}


<!--JS-->
{% block child_js_above_files %}
{% endblock %}

{% block child_js_below_files %}

{% endblock %}